:root{
    --background: rgb(249, 135, 22);
    --font: black;
}

body{
    background-color: var(--background);
}

#header{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: 'Kanit', sans-serif;
    color: var(--font);
}

#search{
    position: absolute;
    right: 20%;
    color: var(--font)
}

ul {
    border: 2px, solid, black;
}

li {
    list-style-type: none;
}

.banner{
    position: relative;
    text-align: center;
    color: var(--font);
  }

.image{
    height: 200px;
    width: 100%;
  }
 
.text{
    position: absolute;
    font-size: 66px;
    top: 30px;
    left: 310px;
  }

  